In [ ]:
import pandas as pd

df = pd.read_csv('001.csv')
data = pd.DataFrame(df)

print(data.to_string())

In [ ]:
import pandas as pd

#Showing how to use datasets
myDataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passing': [3, 7, 2],
}

myvar = pd.DataFrame(myDataset)

print(myvar)

In [13]:
import pandas as pd

#Series is like a column of a table
#A one dimentional array holding data of any type

a = [1, 7, 2]

myVar = pd.Series(a)

print(myVar[1])

7

In [19]:
import pandas as pd

data = [1,2,6]
labels = ["x", "y", "z"]
# Series Create with labels

myVar = pd.Series(data, labels)

print(myVar)

#Or access them my labels
print(myVar['z'])

x    1
y    2
z    6
dtype: int64
6

In [20]:
import pandas as pd

calories = {"day1": 420, "day2": 350, "day3": 550}

myVar = pd.Series(calories)

print(myVar)

day1    420
day2    350
day3    550
dtype: int64

In [ ]:
import pandas as pd

#Print Only Selected labels
calories = {"day1": 440, "day2": 340,"day3":440 }

myVar = pd.Series(calories, index=["day1", "day3"])

print(myVar)

day1    440
day3    440
dtype: int64

In [22]:
import pandas as pd

#Data Sets such as multi dimentional tables

data = {
    "calorie": [420, 335, 550],
    "duration": [240, 120, 330],
    
}

myVar = pd.DataFrame(data)

print(myVar)

   calorie  duration
0      420       240
1      335       120
2      550       330

In [37]:
import pandas as pd

#Dataframe is like a 2d or 3d 4d arrays

data = {
    "name":["Jubayer", "Ahamed", "Jihad"],
    "calorie": [320, 440, 550],
    "duration": [100, 200, 300],
}

df = pd.DataFrame(data)

#print(df)

#To Locate a single row
print(df.loc[1])
print("\n")
#Locate multi rows
print(df.loc[[0,1]])
#It will print a row

name        Ahamed
calorie        440
duration       200
Name: 1, dtype: object


      name  calorie  duration
0  Jubayer      320       100
1   Ahamed      440       200

In [40]:
import pandas as pd

#Read CSV files

data = pd.read_csv("001.csv")

print(data)

#print(data.to_string())

                                                  Links      Status Data  \
0     https://www.instagram.com/reel/DErmHi1MVV4/?ut...  Downloaded  NaN
1     https://www.instagram.com/reel/DElJZ51zwfl/?ut...   Completed    1
2              https://www.instagram.com/p/DCCDGRvSNzY/   Completed    2
3              https://www.instagram.com/p/DDeW3WbBQO4/   Completed    3
4              https://www.instagram.com/p/DDHtBDjIKBq/   Completed    4
...                                                 ...         ...  ...
1011                                                NaN         NaN  NaN
1012                                                NaN         NaN  NaN
1013                                                NaN         NaN  NaN
1014                                                NaN         NaN  NaN
1015                                                NaN         NaN  NaN

                Due date  Content Done? HashTags       Stage  Notes
0      1/13/2025 0:00:00          False      NaN   Pre-event    NaN
1      1/15/2025 0:05:30          False      NaN      Day of    NaN
2     1/15/2025 19:30:00          False      NaN  Post-event    NaN
3     1/15/2025 21:30:00          False      NaN         NaN    NaN
4      1/16/2025 2:30:00          False      NaN         NaN    NaN
...                  ...            ...      ...         ...    ...
1011                 NaN          False      NaN         NaN    NaN
1012                 NaN          False      NaN         NaN    NaN
1013                 NaN          False      NaN         NaN    NaN
1014                 NaN          False      NaN         NaN    NaN
1015                 NaN          False      NaN         NaN    NaN

[1016 rows x 8 columns]

In [ ]:
import pandas as pd 

data = pd.read_csv("001.csv")

#In my system the number is 60, which means that if the DataFrame contains more than 60 rows, 
# the print(df) statement will return only the headers and the first and last 5 rows.
print(pd.options.display.max_rows)

pd.options.display.max_rows = 1000

print(data)

In [ ]:
import pandas as pd

#Read Json data
data = pd.read_json("data.json")

print(data.to_string())

In [ ]:
import pandas as pd

data = pd.read_json("data.json")

#Default Show first 5 rows
#print(data.head())

#Show First 7 Rows 
#print(data.head(7))

#Show from Last
#Last 5 data Default
#print(data.tail())

#Last 7 data
#print(data.tail(7))

#get info
print(data.info())

In [ ]:
import pandas as pd

data = pd.read_csv("001.csv")

new = data.dropna()

#Returns a new Data Frame with no empty cell
print(new.to_string)

<bound method DataFrame.to_string of Empty DataFrame
Columns: [Links, Status, Data, Due date, Content Done?, HashTags, Stage, Notes]
Index: []>